@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajout de la police JetBrains Mono pour font-mono */
.font-mono, .font-mono * {
  font-family: 'JetBrains Mono', 'Fira Mono', 'Menlo', 'Consolas', monospace !important;
}