@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajout de la police IBM Plex Mono pour font-mono */
.font-mono, .font-mono * {
  font-family: 'IBM Plex Mono', 'Fira Mono', 'Menlo', 'Consolas', monospace !important;
}